:root {
    --primary-color: #006400;

    --secondary-color: #f0f8ff;

}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);

    color: #333;
}

header {
    background-color: var(--primary-color);

    color: white;
    text-align: center;
    padding: 1rem;
}

main {
    padding: 20px;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

section {
    margin: 20px 0;
    padding: 15px;
    border-radius: 8px;
}

.data,
.weather {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border-radius: 8px;
}

.data h2,
.weather h2 {
    background-color: var(--primary-color);
    /* Using the global variable */
    color: white;
    margin: -15px -15px 15px;
    padding: 10px;
    border-radius: 8px 8px 0 0;
}

.data-info,
.weather-info {
    padding: 10px;
    line-height: 1.8;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--primary-color);
    /* Using the global variable */
    color: white;
}